absl-py==1.4.0
accelerate==0.26.1
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
alembic==1.11.2
annotated-types==0.5.0
anyio==4.2.0
appnope==0.1.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
beir==2.0.0
blinker==1.6.2
blis==0.7.10
cachetools==5.3.1
catalogue==2.0.9
cbor==1.0.0
certifi==2022.12.7
chardet==5.2.0
charset-normalizer==3.1.0
chest==0.2.3
click==8.1.6
cloudpickle==2.2.1
ColBERT==0.2.0
comm==0.1.3
confection==0.1.1
contourpy==1.1.0
cwl-eval==1.0.12
cycler==0.11.0
cymem==2.0.7
databricks-cli==0.17.7
datasets==2.14.2
debugpy==1.6.7
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.7
distro==1.9.0
docker==6.1.3
elasticsearch==7.9.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.6.0/en_core_web_lg-3.6.0-py3-none-any.whl#sha256=9012584a8fcf5bc61bedb13a4b511fb81ffff9f770958ee06366671be10632e9
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.6.0/en_core_web_md-3.6.0-py3-none-any.whl#sha256=1618fc62e7aedc2b778caa3ea6e9c8280beac3b83fe7b93316cbb9e8f3abe7c5
entrypoints==0.4
exceptiongroup==1.2.0
executing==1.2.0
faiss-cpu==1.7.4
filelock==3.12.2
Flask==2.3.2
fonttools==4.42.0
frozenlist==1.4.0
fsspec==2023.6.0
fuzzywuzzy==0.18.0
gensim==4.3.1
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.22.0
google-auth-oauthlib==1.0.0
grpcio==1.57.0
gunicorn==20.1.0
h11==0.14.0
HeapDict==1.0.1
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.22.2
idna==3.4
ijson==3.2.0.post0
importlib-metadata==6.2.0
importlib-resources==6.0.1
install==1.3.5
ipykernel==6.22.0
ipython==8.12.0
ipywidgets==8.1.2
ir-datasets==0.5.4
ir-measures==0.3.1
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpickle==3.0.4
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyterlab_widgets==3.0.10
kiwisolver==1.4.4
kwnlp-dump-downloader==0.1.0
kwnlp-sql-parser==0.0.2
langcodes==3.3.0
lxml==4.9.2
lz4==4.3.2
Mako==1.2.4
Markdown==3.4.4
MarkupSafe==2.1.2
matchpy==0.5.5
matplotlib==3.7.2
matplotlib-inline==0.1.6
medcat==1.10.2
mlflow==2.5.0
more-itertools==9.1.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
multiset==2.1.1
murmurhash==1.0.9
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
nptyping==1.4.4
numpy==1.24.2
oauthlib==3.2.2
openai==1.10.0
packaging==23.0
pandas==2.0.0
parso==0.8.3
pathy==0.10.2
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.2.0
POT==0.9.1
preshed==3.0.8
prompt-toolkit==3.0.38
protobuf==4.24.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyautocorpus==0.1.9
pycountry==22.3.5
pydantic==1.10.15
pydantic_core==2.6.3
pyemd==1.0.0
Pygments==2.14.0
pyjnius==1.4.2
PyJWT==2.8.0
pymediawiki==0.7.2
pyparsing==3.0.9
pyterrier-colbert==0.0.1
python-dateutil==2.8.2
python-terrier==0.9.2
pytrec-eval==0.5
pytrec-eval-terrier==0.5.5
pytz==2023.3
PyYAML==6.0
pyzmq==25.0.2
querystring-parser==1.2.4
rapidfuzz==3.2.0
regex==2023.6.3
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.4.3
scikit-learn==1.2.2
scipy==1.9.3
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.19
sqlparse==0.4.4
srsly==2.4.7
stack-data==0.6.2
statsmodels==0.13.5
sympy==1.12
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.1
thefuzz==0.20.0
thinc==8.1.12
threadpoolctl==3.1.0
tokenizers==0.19.1
torch==2.0.1
torchvision==0.15.2
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.40.0
trec-car-tools==2.6
typer==0.9.0
typing_extensions==4.7.1
typish==1.9.3
tzdata==2023.3
ujson==5.8.0
unlzw3==0.2.2
urllib3==1.26.15
warc3-wet==0.2.3
warc3-wet-clueweb09==0.2.5
wasabi==1.1.2
wcwidth==0.2.6
websocket-client==1.6.1
Werkzeug==2.3.7
wget==3.2
widgetsnbextension==4.0.10
wikipedia==1.4.0
Wikipedia-API==0.5.8
wrapt==1.15.0
xxhash==3.3.0
yarl==1.9.2
zipp==3.15.0
zlib-state==0.1.5
